@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom global styles */
body {
  @apply bg-black text-white font-sans;
  @apply font-[Poppins] bg-[#0A0A0A] text-[#F5F5F5];
}


h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}